{% extends 'base.html' %}
{% block title %} Substances Dashboard {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 mt-2">
            <h3>Substance Inventory</h3>
            <p>The SciFlow system currently contains:</p>
            <ul>
                <li> {{ subcount }} Substances</li>
                <li> {{ idcount }} Identifiers</li>
                <li> {{ descount }} Descriptors</li>
            </ul>
            <div class="btn-group" role="group" aria-label="Navigation buttons for substances">
                <a href="/substances/list/" type="button" class="btn btn-primary">View Substances</a>
                <a href="/substances/add/" type="button" class="btn btn-primary">Add New Substance</a>
            </div>
        </div>
    </div>
{% endblock %}
