{% extends 'base.html' %}
{% block title %} Substance View {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-5 offset-1 mt-2">
            <div class="row">
                <div class="col-6">
                    <h3>Substance</h3>
                </div>
                <div class="col-6">
                    {% if user.get_username == 'stuart' %}
                        <button type="button" class="btn btn-sm btn-success" onclick="document.location.href = '/substances/newjld/{{ substance.id }}'">Add new twin</button>
                    {% endif %}
                </div>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="col-12">
                    <ul>
                        <li> Name: {{ substance.name }}</li>
                        <li> Formula: {{ substance.formula }}</li>
                        <li> Molecular Weight: {{ substance.molweight }} g/mol</li>
                        <li> CAS Registry #: {{ substance.casrn }}</li>
                    </ul>
                </div>
            </div>
            <div class="panel-responsive-320">
                <h5>Descriptors</h5>
                <ul style="font-size: 14px;">
                {% for desc, vdict in descs.items %}
                    {% for val, srcs in vdict.items %}
                        <li>{{ desc }}: {{ val }} ({{ srcs|join:', ' }}) </li>
                    {% endfor %}
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-5">
            <div class="jmol_panel">
                {% load static %}
                <div class="panel-primary">
                    <div style="text-align: center;margin-inside: 10;font-size: 48px">{{ image_found }}</div>
                    <script type="text/javascript" src="{% static '/Jsmol/JSmol.min.js' %}"></script>
                    <script type="text/javascript">
                        let Info = {
                            color: "White",
                            height: 250,
                            width: 400,
                            use: "HTML5",
                            j2sPath: "{% static '/Jsmol/j2s' %}",
                            src:"https://cactus.nci.nih.gov/chemical/structure/{{ inchikey }}/file?format=sdf&get3d=true",
                            serverURL : "https://osdb.stuchalk.domains.unf.edu/js/jsmol/php/jsmol.php",};
                        {# Server URL needs to be changed when website is hosted on the server to the correct php file. right now uses Dr. Chalks former project for the file.#}
                        Jmol.getApplet("jmol1", Info);
                    </script>
                </div>
            </div>
            <div class="panel-responsive-370">
                <h5>Sources</h5>
                <ul style="font-size: 14px;">
                    {% for src in srcs %}
                        {% if src.result == '1' %}
                            <li>{{src.source}}: Success, {{src.updated}} </li>
                        {% else %}
                            <li>{{src.source}}: Failed, {{src.updated}} </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <h5>Identifiers</h5>
                <ul style="font-size: 14px;">
                    {% for ident, vdict in ids.items %}
                        {% for val, srcs in vdict.items %}
                            <li>{{ident}}: {{ val }} ({{ srcs|join:', ' }}) </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
         </div>
    </div>
{% endblock %}