{% extends 'base.html' %}

{% block title %} Substances Index {% endblock %}
{% block header %} Substance {% endblock %}
{% block content %}

    <div class="row">
        <div class="col-6">
        <h5>Descriptors</h5>
            <ul>
            {% for desc, vdict in descs.items %}
            {% for val, srcs in vdict.items %}
                <li>{{desc}}: {{ val }} ({{ srcs|join:', ' }}) </li>
            {% endfor %}
            {% endfor %}

            </ul>
        </div>

        <div class="col-6">
        <div class="row">
            <div class="row-cols-12">
                <div class="jmol_panel">
                    {% load static %}
                    <div class="panel-primary">
                        <div style="text-align: center;margin-inside: 10;font-size: 48px">{{ image_found }}</div>
                    <script type="text/javascript" src="{% static '/jsmol/JSmol.min.js' %}"></script>
                    <script type="text/javascript">
                        var Info = {
                    color: "White",
                    height: 300,
                    width: 400,
                    use: "HTML5",
                    j2sPath: "{% static '/jsmol/j2s' %}",
                    src:"{{ image_url }}"};
                    Jmol.getApplet("jmol1", Info);

                    </script>


                </div>
            </div>
        </div>



            <ul>
                <li> Name: {{ substance.name }}</li>
                <li> Formula: {{ substance.formula }}</li>
                <li> Molecular Weight: {{ substance.molweight }} g/mol</li>
                <li> CAS Registry #: {{ substance.casrn }}</li>
            </ul>

            <h5>Sources</h5>
            <ul>
                {% for src in srcs %}
                {% if src.result == '1' %}
                    <li>{{src.source}}: Success, {{src.updated}} </li>
                {% else %}
                    <li>{{src.source}}: Failed, {{src.updated}} </li>
                {% endif %}
                {% endfor %}
            </ul>

            <h5>Identifiers</h5>
            <ul>
                {% for ident, vdict in ids.items %}
                {% for val, srcs in vdict.items %}
                    <li>{{ident}}: {{ val }} ({{ srcs|join:', ' }}) </li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
    </div>


<div class="row">
    <div class="d-flex flex-wrap justify-content-center">
        <br>
            <button type="button" class="m-4 btn btn-success" style="width: 300px"
                    onclick="document.location.href = '/substances/view/{{substance.id}}/subids'">
                View Identifiers</button>
            <button type="button" class="m-4 btn btn-success" style="width: 300px"
                    onclick="document.location.href = '/substances/view/{{substance.id}}/subdescs'">
                View Descriptors</button>
        </br>
    </div>
</div>
    </div>
{% endblock %}
</div>