alabaster==0.7.12
asgiref==3.2.10
attrs==19.3.0
Babel==2.8.0
cachetools==4.1.0
certifi==2020.6.20
chardet==3.0.4
chembl-webresource-client==0.10.2
decorator==4.4.2
Django==3.0.7
django-crispy==1.8.1
docutils==0.16
easydict==1.9
httplib2==0.18.1
idna==2.9
imagesize==1.2.0
Jinja2==2.11.2
jsonpath-ng==1.5.1
jsonschema==3.2.0
MarkupSafe==1.1.1
mypy-extensions==0.4.3
mysqlclient==1.4.6
oauth2client==4.1.3
oauthlib==3.1.0
packaging==20.4
ply==3.11
protobuf==3.12.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.6.1
pyparsing==2.4.7
pyrsistent==0.16.0
pytz==2020.1
PyYAML==5.3.1
qwikidata==0.4.0
requests==2.24.0
requests-cache==0.5.2
requests-oauthlib==1.3.0
rsa==4.6
six==1.15.0
slacker==0.14.0
snowballstemmer==2.0.0
Sphinx==3.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.3.1
uritemplate==3.0.1
urllib3==1.25.9
social-auth-app-django~=3.1
python-jose~=3.0
python-dotenv~=0.9
