Django~=4.1
PyLD~=2.0.3
chembl_webresource_client~=0.10
django-admin-logs~=1.0
django-allauth~=0.51
django-debug-toolbar~=3.6.0
django-cors-headers~=3.13
django-crispy-forms~=1.14
djangorestframework>=3.13
mysqlclient~=2.1
pandas>=1.5.0
scipy~=1.9.0
PyGithub~=1.55
setuptools>=65.2
urllib3~=1.26.12
scyjava>=1.5.1
qwikidata~=0.4.1
pytest>=7.1
requests~=2.28.1
