asgiref==3.3.4
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
chembl-webresource-client==0.10.3
cryptography==3.4.7
defusedxml==0.7.1
Django==3.2.3
django-allauth==0.44.0
django-crispy-forms==1.11.2
django-debug-toolbar==3.2.1
djangorestframework==3.12.4
easydict==1.9
ecdsa==0.14.1
ez-setup==0.9
frozendict==2.0.2
idna==2.10
itsdangerous==2.0.0
jgo==1.0.1
jose==1.0.0
JPype1==1.2.1
lxml==4.6.3
mypy-extensions==0.4.3
mysqlclient==2.0.3
oauthlib==3.1.0
psutil==5.8.0
pyasn1==0.4.8
pycparser==2.20
PyJWT==2.1.0
PyLD==2.0.3
python-jose==3.2.0
python3-openid==3.2.0
pytz==2020.1
qwikidata==0.4.0
requests==2.25.1
requests-cache==0.6.3
requests-oauthlib==1.3.0
rsa==4.7.2
scyjava==1.1.0
six==1.16.0
sqlparse==0.3.1
typing-extensions==3.10.0.0
url-normalize==1.4.3
urllib3==1.26.4
