{% extends 'base.html' %}

{% block title %} FAIR Molecules {% endblock %}
{% block header %} Search {% endblock %}
{% block content %}
    <h4>New Search:</h4>
    <form action="" method="post">
        {% csrf_token %}
        <input name="q" type="text" placeholder="Search for a substance">
        <button class="btn btn-success" type="submit" name="action">Search</button>
    </form>


    <h4>Results for {{query}}:</h4>
    <ul>
        {{ results }}
    {% for substance in results %}
        <li><a href="/substances/view/{{ substance.id }}">{{ substance.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
