{% extends 'base.html' %}

{% block title %} Substances Index {% endblock %}
{% block header %} Substance {% endblock %}

{% block content %}
     <ul>
        <li> Name: {{ substance.name }}</li>
        <li> Formula: {{ substance.formula }}</li>
        <li> Molecular Weight: {{ substance.molweight }} g/mol</li>
        <li> CAS Registry #: {{ substance.casrn }}</li>
    </ul>

    <h5>Sources</h5>
    <ul>
    {% for src in srcs %}

        {% if src.result == '1' %}
        <li>{{src.source}}: Success, {{src.updated}} </li>
        {% else %}
        <li>{{src.source}}: Failed, {{src.updated}} </li>
        {% endif %}


    {% endfor %}
    </ul>
    <div class="d-flex flex-wrap justify-content-center">
        <br>
            <button type="button"  class="m-4 btn btn-success" style="width: 300px" onclick="document.location.href = '/substances/view/{{substance.id}}/subids'">View Identifiers</button>
            <button type="button"  class="m-4 btn btn-success" style="width: 300px" onclick="document.location.href = '/substances/view/{{substance.id}}/subdescs'">View Descriptors</button>
        </br>
    </div>
{% endblock %}
