{% extends 'base.html' %}

{% block title %} Substances Index {% endblock %}
{% block header %} Substance {% endblock %}

{% block content %}
     <ul>
        <li> Name: {{ substance.name }}</li>
        <li> Formula: {{ substance.formula }}</li>
        <li> Molecular Weight: {{ substance.molweight }} g/mol</li>
        <li> CAS Registry #: {{ substance.casrn }}</li>
    </ul>
    <h5>Identifiers</h5>
    <ul>
    {% for id in ids %}
        <li>{{ id.type }}: {{ id.value }}</li>
    {% endfor %}
    </ul>
    <h5>Descriptors</h5>
    <ul>
    {% for desc in descs %}
        <li>{{ desc.type }}: {{ desc.value }}</li>
    {% endfor %}
    </ul>{% endblock %}