{% extends 'base.html' %}
{% block title %} Reference View {% endblock %}
{% block content %}
     <div class="row">
        <div class="col-12 col-md-10 offset-md-1 mt-2">
            <h3>Reference</h3>
            <ul>
                <li>Title: {{ ref.title }}</li>
                <li>Journal: {{ ref.journal }}</li>
                <li>Authors: {{ ref.aulist }} </li>
                <li>DOI: <a href="https://doi.org/{{ ref.doi }}" target="_blank">{{ ref.doi }}</a></li>
            </ul>
            <h4>Data Files</h4>
            <ul>
                {% for set in ref.jsonlookup_set.all %}
                    <li>Graph Name: <a href="/files/view/{{ set.id }}">{{ set.graphname }}</a> ({{ set.currentversion }} versions)</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}