{% extends 'base.html' %}

{% block title %} Namspace View {% endblock %}
{% block header %} Namespace: {{ space.name }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <ul>
                <li>Alias: {{ space.ns }}</li>
                <li>Path: {{ space.path }}</li>
                <li>Homepage: <a href="{{ space.homepage }}" target="_blank">{{ space.homepage }}</a></li>
            </ul>
        </div>
        <div class="col-12">
            <h3>Terms using this Namespace</h3>
            <ul>
                {% for term in terms %}
                <li><a href="/crosswalks/ontterm/{{ term.id }}">{{ term.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
