{% extends 'users.html' %}

{% block content %}
{% load crispy_forms_tags %}

    <div class="row justify-content-center">
        <div class="col-5">
            <h1>Student Login</h1>
            <hr class="mt-0 mb-4">
            <form method="POST" class="form-group">
                {% csrf_token %}
                {{form|crispy}}
            <button type="submit" class="btn btn-success" href="beekeeper/main">Submit</button>
            </form>
            <p>Don't have an account? Create one <a href="/register/">here!</a></p>
        </div>
    </div>

{% endblock %}
