<!doctype html>
{% load static %}
{% load socialaccount %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">
    <title>SciFlow: SciData Workflow Environment</title>
</head>
<body>
<div id="content">
    <div id="nav" class="row">
        <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <a class="navbar-brand" href="/">SciFlow Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/files/ingest">Ingestion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/workflow/logs">Ingestion Logs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/substances">Substances</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://eureka.coas.unf.edu/phpmyadmin">MySQL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://sds.coas.unf.edu:7200">GraphDB</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout/">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login/auth0">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10">
            <h2 class="mt-2">{% block header %}{% endblock %}</h2>
        {% if 'Access denied' in request.path %}
            <meta http-equiv="REFRESH" content="0;url=/error">
        {% elif request.user.is_authenticated %}
            {% block content %}
            {% endblock %}
          {% elif exception %}
              <p>An error has occured! Check and make sure your email has been verified.</p>
          {% else %}
              <p>This page is restricted to approved users. If you are a user, <a href="{% provider_login_url 'google' %}">Login Here.</a></p>
          {% endif %}
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first then Bootstrap JS (including popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>  <title>{% block title %}FAIR CAS App{% endblock %}</title>
<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>

</body>
</html>
