{% extends 'base.html' %}
{% block title %} Context View {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h3>{{ context.name }}</h3>
            <ul>
                <li>Dataset: {{ dataset.name }}</li>
                <li>Description: {{ context.description }} </li>
                <li>URL: <a href="{{ context.url }}" target="_blank">{{ context.url }}</a></li>
            </ul>
            <h4>Defined Crosswalks</h4>
            <ul>
                {% for cw in crosswalks %}
                    <li><b>{{ cw.table }}:{{ cw.field }} -></b> {% if cw.newname %}
                        {{ cw.newname }} {% else %} {{ cw.field }} {% endif %} ({{ cw.datatype }})
                        means <em>{{ cw.ontterm.title }}</em> [{{ cw.ontterm.url }}]
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}